<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="border: solid;" >
        <thead style="border: solid;">
            <th style="border: solid;">Anime</th>
            <th style="border: solid;">Author</th>
            <th style="border: solid;">Genre</th>
        </thead >
        <tbody style="border: solid;">
            {% for record in records %}
            <tr style="border: solid;">
                <td style="border: solid;">{{record.name}}</td>
                <td style="border: solid;">{{record.author}}</td>
                <td style="border: solid;">{{record.genre}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>