<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="inline">
            <b>Name</b>:{{data.name}}<br>
            <b>Author</b>:{{data.author}}<br>
            <b>Genre</b>:{{data.genre}}<br>
            <b>Description</b>:The earliest commercial Japanese animation dates to 1917, and Japanese anime production has since continued to increase steadily. The characteristic anime art style emerged in the 1960s with the works of Osamu Tezuka and spread internationally in the late 20th century, developing a large domestic and international audience. Anime is distributed theatrically, by way of television broadcasts, directly to home media, and over the Internet. It is classified into numerous genres targeting diverse broad and niche audiences.<br>
            

            <a href="/update/{{ data.name }}" class="btn">update</a>
            <a href="/delete/{{ data.name }}" class="btn">delete</a>
        </div>
        <div class="inline">
            <img src="{{url_for('static',filename='img/default.jpg')}}" alt="">
        </div>
        

    </div>
    

</body>
</html>